*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0.5em;
}

#options {
  display: flex;
  gap: 0.8em;
  margin-top: 1.2em;

  button {
    font-size: 0.8em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 5px;
    padding: 0.4em 0.8em;
    width: 140px;
    transition:
      border-color 0.3s,
      background-color 0.1s
    ;

    &:hover {
      border-color: black;
    }

    &:active {
      background-color: rgb(223, 223, 223);
    }
  }
  
  @media screen and (max-width: 620px){
    flex-wrap: wrap;
    justify-content: center;
  }
}

#shapes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px dashed rgba(0, 0, 0, 0.401);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.029);
  padding: 0.4em;
  min-height: 66px;
  min-width: 488px;
  max-width: 726px;

  @media screen and (max-width: 507px){
    max-width: 426px;
    min-width: 126px;
  }
}

.shape {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.134);
  transition: 
    transform 0.2s,
    background-color 0.3s
  ;

  &:hover {
    transform: scale(1.1);
  }
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 5px;
}
