*, *::before, *::after {
  box-sizing: border-box;
  font-family: system-ui, Arial;
}

body {
  margin: 0;
}

header {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2rem 50px -30px rgba(0, 0, 0, 0.093);
}

.products {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  padding: 20px;
  justify-content: center;
  border-radius: 18px;
}